<?php
require_once 'copycat.inc';

$GLOBALS['copycat_config']=Array(

  'poi_turismo' => Array(
            'id'=>'1',
            'importer' => 'poi_turismo',
            'domain' => 'http://www.sardegnaturismo.it', 
            'server' => 'http://www.sardegnaturismo.it/services/rpc', 
            //'user' => 'services',
            //'password' => '.s4rd3gn4IT!',
            'source_image_path' => 'default/files',
            'user' => 'admin',
            'password' => 'maidireturismo80',
            'source_structure' => 'poi',
            'target_structure'=>'poi',
            'nodes_for_page' => '80',
            'refresh_list_minutes' => '60',
            'default_text_type' => 'filtered_html',
            'target_image_dir' => 'public://turismo',
            'exclude_nodes'=>Array('empty_geofield'),
            'field_map' => Array(
              'field_immagine' => Array(
                 'source_fieldname' => 'top_img'                
              ),
              'field_location' => Array(
                'source_fieldname' => 'geofield', 
                'data_processor' => Array('_fill_location'=> Array(),
                                    ),
              ),
              
              'body' => Array(
                //'source_fieldname' => 'province_code',
                'data_processor' => Array('_join_fields' => Array("params" => Array('fields' =>Array('body','field_how_to_arrive','field_info','per_visitare'),),),
                                          '_force_filtered_html_format' => Array())),
              
              'field_original_link'=>Array(
                  'source_fieldname' => 'noSource',
                  'data_processor' =>Array('_original_link' => Array("params" => Array())),
              ),
              
              'field_province' => Array(
                'source_fieldname' => 'doNotMap'),
                
               
       
       'field_geospatial' => Array(
                'source_fieldname' => 'noSource', 
                'data_processor' => Array('_fill_geospatial'=> Array(),
                                    )),
                
               
       )              
  ),
);

?>
